.footer {

    /* color:#c6c6c6;
    padding-top: 30px;
    background-color:#4a4a4a;
    padding: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px; */
    /* position: absolute; */
    position: fixed;
    /* top: 0; */
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;;
    background-color: rgba(145,145,145,0.3);
}